<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>https://www.olx.pt/i2/ads/?json=1&amp;search%5bcategory_id%5d=25</string>
	<key>IMAGE_URL_BASE</key>
	<string>https://img.olx.pt/images_olxpt/</string>
	<key>IMAGE_URL_ITEM</key>
	<string>%@_%@_.jpg</string>
</dict>
</plist>
